<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Two</title>
        <link rel="icon" type="image/svg+xml" href="../resources/favicon-32x32.png" />
        <link rel="stylesheet" href="../resources/style.css">
    </head>
    <body>

    <!--SVG-->
    <svg width="100%" height="300" version="1.1"
            xmlns="http://www.w3.org/2000/svg">

            <rect width="100%" height="100%" fill="#f0f8ff"/>
            <circle cx="150" cy="100" r="80" fill="#add8e6"/>
            <rect x="300" y="50" width="250" height="100" fill="#98fb98"/>
            <ellipse cx="100" cy="150" rx="60" ry="30" fill="#ffa500"/>
            <polygon points="500,150 550,80 600,150" fill="#ff6347"/>

            <text x="45%" y="35%" font-family="Arial" font-size="36" fill="#000" text-anchor="middle" dy=".3em">Welcome!!</text>
        </svg>
    
    <!--Nav Bar-->
    <nav class="menu">
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="./page_two.html">PAGE TWO</a></li>
                <li><a href="./page_three.html">PAGE THREE</a></li>
            </ul>
    </nav>
    <h1 class="heading-page-two">Favorite Coding Resources</h1>

    <!--Table-->
    <table class="page-table">
        <thead>
            <tr>
                <th>Coding Resource</th>
                <th>link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Stack Overflow</td>
                <td>https://stackoverflow.com/</td>
            </tr>
            <tr>
                <td>Mozilla Developer Network</td>
                <td>https://developer.mozilla.org/en-US/docs/Web</td>
            </tr>
            <tr>
                <td>freeCodeCamp.org</td>
                <td>https://www.youtube.com/@freecodecamp</td>
            </tr>
            <tr>
                <td>GeeksforGeeks</td>
                <td>https://www.geeksforgeeks.org/</td>
            </tr>

        </tbody>
    </table>
    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Diya Sehgal. All rights reserved.</p>
    </footer>
    </body>
</html>